/*内容底部的footer类*/
section{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.footer{
	width: 100%;
	margin-top: 50px;
	background-color: #fff;
	margin-bottom: 0px;
}
ul>.help{
	width: 96%;
	height: 40px;
	line-height: 40px;
	border-top:1px solid rgb(238,238,238);
	margin-left: 2%;
	padding-left: 20px;
}
ul>.help>span{
	float: right;
	margin-right: 2%;
	padding-right: 10px;
}
.help_display{
	display: none;
}
.help_display *{
	padding-top: 5px;
	margin-left: 5%;
}
.box_buttom{
	border-bottom:1px solid rgb(238,238,238);
}