*{
	margin:0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;

}
body{
	font-size: 14px;
	font-family: "黑体";
	color: #333;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border: none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.f_left{
	float: left;
}
.f_right{
	float:right;
}
/*头部*/
.ys_boss{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	background-color: rgb(238,238,238);
	margin: 0 auto;
}
.ys_boss>.ys_banner{
	position: fixed;
	
	top: 0;
	height: 44px;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-color: black;
	box-shadow: 0px 1px 3px ;
	min-width: 320px;
	max-width: 640px;
}
.ys_boss>.ys_banner>a{
	height: 100%;
	width: 45%;
	padding:0px;
	margin:0px;
}
.ys_input1{
	height: 100%;
	width: 100%;
	background-color: rgb(63,68,74);
	color: white;
	font-size: 1.1rem;
}
.ys_input2{
	height: 100%;
	width: 100%;
	font-size: 1.1rem;
	background-color: rgb(255,255,255);
}
.ys_input3{
	height: 100%;
	width: 90%;
	display: none;
	background-color: white;
	color:black;
	font-size: 1.1rem;
	padding-left: 9px;
}
.ys_img1{
	
	}
.ys_imgx{
	display: none;
}

/*尾部*/
.ys_footer{
	position: fixed;
	bottom:0%;
	height: 50px;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-color: black;
	box-shadow: 0px 1px 3px ;
	min-width: 320px;
	max-width: 640px;
}

.ys_footer .ys_img{
	height: 100%;
	width: 100%;
}
.ys_img ul li{
	height: 50px;
	width: 25%;
	float: left;
	font-size: 13px;
	color: white;
	margin-left: 20px;
	text-align: center;
}
.ys_img ul li,li>a{
	font-size: 13px;
	color: white;
}
.ys_img ul li>div{
	margin-top: 33px;
}
.ys_img ul li>a{
	display: inline-block;
	margin-top: 33px;
}
.ys_img3{
	background-image: url(../images/menu_select.png);
	background-position: 25px 4px;
	background-size: 25px 25px;
	background-repeat: no-repeat;
}

.ys_img4{
	background-image: url(../images/menu_shoppingcart.png);
	background-position: 22px 4px;
	background-size: 25px 25px;
	background-repeat: no-repeat;
}
.ys_img5{
	background-image: url(../images/menu_myself.png);
	background-position: 24px 4px;
	background-size: 25px 25px;
	background-repeat: no-repeat;
}
.menu{
	height: 100%;
	width: 35%;
	background-color: rgb(60,148,139);
	color: white;
	text-align: center;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 15px;
}
.menu .menu_span1{
	display: inline-block;
	font-size: 20px;
}
.menu_span2{
	font-size: 10px;
}
.ys_footer2{
	list-style: none;
	height: 200px;
	width: 35%;
	background-color: black;
	color: white;
	font-size: 1rem;
	position: absolute;
	bottom: -300px;
	z-index: -100;
}
.ys_footer2 li{
	color: white;
	margin-left: 15px;
	padding-top: 4px;
}
.ys_footer2>a{
	color: white;
	padding: 2px;
}