body{
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.div_box{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
/*头部*/
header{
	text-align: center;
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	background-color: black;
}
div>.button{
	width: 20px;
	height: 20px;
	background-color: black;
	background-image: url(../images/left_arrow.png);
	background-size: 18px 18px;
	background-position: 13px 13px; 
	background-repeat: no-repeat;
	align-content: center; 
}
header *{
	color: white;
}
header>h4{
	flex-grow: 1;
	font-size: 20px;
	font-weight: bold;
}
header>a{
	justify-content: flex-end;
	margin: auto;
	margin-right: 10px;
	font-size: 16px;
	color: rgb(37,191,175);
}

/*尾部*/
.ys_footer{
	position: fixed;
	bottom:0%;
	height: 50px;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 3px ;
	min-width: 320px;
	max-width: 640px;
}
.ys_footer .ys_img{
	height: 100%;
	width: 100%;
}
.ys_img ul li{
	height: 50px;
	width: 20%;
	float: left;
	font-size: 13px;
	color: white;
	text-align: center;
}
.ys_img ul li:nth-child(3),.ys_img ul li:nth-child(4){
	width: 30%;
	line-height: 50px;
	font-size: 1rem;
}
.ys_img ul li:nth-child(3){
	background-color: #000;
}
.ys_img ul li:nth-child(4){
	background-color: rgb(238,64,60);
}
.ys_img ul li a{
	color: white;

}
.ys_img>ul>li>a>img{
	width: 25px;
	height: 25px;
	margin-top: 15px;
}