body{
	background-color: rgb(248,248,248);
	max-width: 640px;
	min-width: 320px;
}
.nav{
	width: 100%;
	height: 130px;
	background-image: url(../images/Buy_Mobile_Bgi01.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	margin-top: 42px;
}
.select{
	height: 100%;
	width: 100%;
	padding: 15px;
}
.select>li{
	float: left;
	margin-top: 10px;
	width: 25%;
}
.select>li>button{
	background-color: transparent;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	height: 35px;
	width: 85px;
	margin-left: 10px;
}
.select .bottomBo{
	background-color: transparent;
	border: 1px solid white;
	border-radius: 8px;
}

.nav1{
	width: 100%;
	background-color: white;
	height: 45px;
	line-height: 20px;
	overflow: hidden;
}
.nav1 *{
	color: rgb(170,170,170);
	font-size: 14px;
	display: inline-block;
	padding-top: 7px;
}
.nav1 div{
	margin-left: 5px;
}
.nav1>.right{	
	text-align: right;
	margin-right: 10px;
}
.biserial{
	height: 20px;
	width: 20px;
	background-image: url(../images/multi_column.svg);
	margin-right: 20px;
}
.biserial_highlight{
	background-image: url(../images/multi_active.svg);/*黑*/
}
.single_row{
	height: 20px;
	width: 20px;
	background-image: url(../images/single_column.svg);
	margin-right: 10px;
}
.single_row_highlight{
	background-image: url(../images/single_active.svg);/*黑*/
}
.filtrate{
	width: 45px;
	border-left: 1px solid rgb(220,220,220);
	color: black;
}
.time1{
	display: none;
	font-size: 14px;
	display: none;
	color: black;
	margin-top: 20px;
}
.time2{
	display: none;
	font-size: 14px;
	display: none;
	color: black;
}
.cost1{
	display: none;
	font-size: 14px;
	display: none;
	color: black;
}
.cost2{
	display: none;
	font-size: 14px;
	display: none;
	color: black;
}
#all{
	display: block;
	margin-top: 10px;
}
.container{
	display: none;
	margin-top: -20px;
}


/*筛选*/

/*尺寸 价格*/
.screen{
	background-color: rgb(247,247,247);
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	position: absolute;
	top: -200%;
	margin: 0 auto;
}
.select1{
	width: 100%;
	height: 110px;
	background-color: white;
	margin-bottom: 10px;
	padding-top: 10px;
}
.screen>.select1>.size{
	margin-bottom: 20px;
}
.screen>.select1>select{	
	margin-left: 10px;
	width: 83%;
	height: 30px;
	color: rgb(168,168,168);
	padding-left: 15px;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid rgb(238,238,238);
}
.screen>.select1>span{
	margin-left: 6px;
	font-size: 15px;
	font-weight: bold;
}

/*颜色*/
.select_colour{
	width: 100%;
	height: 125px;
	background-color: white;
	margin-bottom: 10px;
	padding-left: 15px;
}
.select_colour>p{
	margin-left: 6px;
	font-size: 15px;
	font-weight: bold;
	padding-top: 20px;
}
.select_colour>table{
	width: 95%;
	height: 60px;
	margin-top: 15px;
	margin-left: 10px;
}
.select_colour>table td{
	width: 12.5%;
	height: 50%;
	line-height: 25%;
}
.select_colour>table tr,.select_colour>table tr td{
	text-align: center;
}
table span{
	display: inline-block;
	width: 83%;
	height: 83%;
}
.color1{
	background-image: url(../images/all_color.png);
	background-size: 93% 93%;
	background-position: center;
	background-repeat: no-repeat;
}
.color2{
	background-color: white;
	border: 1px solid rgb(238,238,238);
}
.color3{
	background-color: rgb(153,153,153);
}
.color4{
	background-color: rgb(0,0,0);
}
.color5{
	background-color: rgb(239,0,130);
}
.color6{
	background-color: rgb(115,52,242);
}
.color7{
	background-color: rgb(0,153,255);
}
.color8{
	background-color: rgb(15,226,250);
}
.color9{
	background-color: rgb(143,52,18);
}
.color10{
	background-color: rgb(231,50,51);
}
.color11{
	background-color: rgb(255,126,3);
}
.color12{
	background-color: rgb(252,139,139);
}
.color13{
	background-color: rgb(253,199,9);
}
.color14{
	background-color: rgb(255,234,3);
}
.color15{
	background-color: rgb(50,204,102);
}
.color16{
	background-color: rgb(21,160,3);
}
.show-color{
	border: 1px solid black;
}
.show-color1{
	border: 1px solid black;
}
/*形状*/
.shape{
	width: 100%;
	height: 105px;
	background-color: white;
	margin-bottom: 10px;
	padding-left: 15px;
}
.shape>p{
	margin-left: 6px;
	font-size: 15px;
	font-weight: bold;
	padding-top: 18px;
}
.shape>div,.star,.star1{
	display: inline-block;
	margin-top: 28px;
}
.just{
	height: 25px;
	width: 25px;
	border: 1px solid rgb(102,102,102);
	margin-bottom: 5px;
	margin-left: 12px;
	background-color: white;
}
.long{
	height: 18px;
	width: 35px;
	border: 1px solid rgb(102,102,102);
	margin-left: 40px;
	margin-bottom: 8px;
	background-color: white;
}
.vertical{
	height: 35px;
	width: 18px;
	border: 1px solid rgb(102,102,102);
	margin-left: 40px;
	background-color: white;
}
.circle{
	height: 27px;
	width: 27px;
	border: 1px solid rgb(102,102,102);
	margin-left: 40px;
	border-radius: 27px;
	margin-bottom: 5px;
	background-color: white;
}
/*图形选中后的背景色*/
.shape_highlight{
	background-color: black;
}
/*星*/
.star{
	height: 30px;
	width: 30px;
	margin-left: 40px;
	margin-bottom: 5px;
	background-image: url(../images/icon_star_empty.svg);
}
.star1{
	background-image: url(../images/icon_star.svg);	/*黑*/
}
.show-shape{
	background-color: black;
	border: none;
}
.show-shape{
	background-color: black;
	border: none;
}
/*风格 题材*/
.style,.theme{
	width: 100%;
	height: 135px;
	background-color: white;
	margin-bottom: 10px;
	padding-left: 15px;
}
.style>p,.theme>p{
	margin-left: 6px;
	font-size: 15px;
	font-weight: bold;
	padding-top: 18px;
}
.style>table,.theme>table{
	width: 95%;
	height: 75px;
	margin-top: 15px;
	margin-left: 10px;
}
.style>table td,.theme>table td{
	border: 1px solid rgb(239,239,239);
	text-align: center;
	border-radius: 10px;
	color: rgb(168,168,168);
}
.style>table tr,.theme>table tr{
	width: 95%;
	height: 30px;
}
.style>table tr td,.theme>table tr td{
	width: 25%;
}
.style tr .show-style{
	border: 1px solid rgb(129,129,129);
	color: rgb(0,0,0);
}
.style tr .show-style1{
	border: 1px solid rgb(129,129,129);
	color: rgb(0,0,0);
}
.theme tr .show-theme{
	border: 1px solid rgb(129,129,129);
	color: rgb(0,0,0);
}
.theme tr .show-theme1{
	border: 1px solid rgb(129,129,129);
	color: rgb(0,0,0);
}
.theme{
	margin-bottom: 100px;
}

/*按钮*/
.button{
	border: 1px solid rgb(229,229,229);
	width: 100%;
	height: 60px;
	background-color: white;
	position: fixed;
	bottom: 0px;
	overflow: hidden;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.button button{
	height: 60%;
	width: 27%;
	margin-top: 12px;
	background-color: white;
	border: 2px solid rgb(129,129,129);
	color: rgb(109,109,109);
	font-size: 13px;
}
.button>button:nth-child(1){
	margin-left: 20px;
}
.close{
	height: 40%;
	width: 5%;
	background-image: url(../images/差号.png);
	background-size: 100% 100%;
	display: inline-block;
	float: right;
	margin-top: 15px;
	margin-right: 18px;
}

