*{
	margin:0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;

}
body{
	font-size: 14px;
	font-family: "黑体";
	color: #333;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	background-color: rgb(238,238,238);
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border: none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.f_left{
	float: left;
}
.f_right{
	float:right;
}
/*头部*/
.ys_boss{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	background-color: rgb(238,238,238);
	margin: 0 auto;
}
.ys_boss>.ys_banner{
	position: fixed;
	
	top: 0;
	height: 44px;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-color: black;
	box-shadow: 0px 1px 3px ;
	min-width: 320px;
	max-width: 640px;
}
.ys_boss>.ys_banner>a{
	height: 100%;
	width: 45%;
	padding:0px;
	margin:0px;
}
.ys_input1{
	height: 100%;
	width: 100%;
	background-color: rgb(63,68,74);
	color: white;
	font-size: 1.1rem;
}
.ys_input2{
	height: 100%;
	width: 100%;
	font-size: 1.1rem;
	background-color: rgb(255,255,255);
}
.ys_input3{
	height: 100%;
	width: 90%;
	display: none;
	background-color: white;
	color:black;
	font-size: 1.1rem;
	padding-left: 9px;
}
.ys_img1{
	
	}
.ys_imgx{
	display: none;
}
/*尾部*/
.ys_footer{
	position: fixed;
	bottom:0%;
	height: 50px;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-color: black;
	box-shadow: 0px 1px 3px ;
	min-width: 320px;
	max-width: 640px;
}

.ys_img3{
	height: 100%;
	width: 20%;	
	padding-top: 3px;
	margin-left: 5px;
}
.ys_img4{
	height: 100%;
	width: 20%;
	padding-top: 2px;
	margin-left: 5px;
}
.ys_img5{
	height: 100%;
	width: 20%;
	padding-top: 5px;
}
.menu{
	height: 100%;
	width: 35%;
	background-color: rgb(60,148,139);
	color: white;
	text-align: center;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 15px;
}
.menu .menu_span1{
	display: inline-block;
	font-size: 20px;
}
.menu_span2{
	font-size: 10px;
}
.ys_footer2{
	list-style: none;
	height: 200px;
	width: 35%;
	background-color: black;
	color: white;
	font-size: 1rem;
	position: absolute;
	bottom: -300px;
	z-index: -100;
}
.ys_footer2 li{
	color: white;
	margin-left: 15px;
	padding-top: 4px;
}
.ys_footer2>a{
	color: white;
	padding: 2px;
}
/*myself 章节*/
section{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
    background-color: rgb(238,238,238);
	margin: auto;

}
.section_bg{
	width: 100%;
	height: 600px;
	background-image: url(../images/banner_bg.jpg);
	background-repeat:no-repeat;
	background-size:100% 600px;
	
}
.bg_box{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);	
}
.section_workes{
	max-width: 640px;
	min-width: 320px;
	width: 80%;
	height: 50%;
	margin: 50px auto;
}
.section_workes>a>img{
	width: 100%;
	height: 100%;
}

.section_logo_en{
	max-width: 640px;
	min-width: 320px;
	width: 30%;
	height: 30%;
	margin: 0 auto;
	text-align: center;
	margin:-50px auto;
	
}
.section_logo_en>img{
	width: 30%;
	height: 30%;
}
hr{
	width: 60px;
	margin: -90px auto;
}
.section_text{
	color: white;
	margin:110px auto;
	text-align: center;
	font-size: 1.2rem;
}
.tops{
	font-size: 1.2rem;
	text-align: center;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	background-color:white;
}
.tops_box{
	width: 100%;
	height:350px;
	max-width: 640px;
	min-width: 320px;
}
/*.year{
	width: 100%;
	overflow: hidden;
}*/
.year>div img{
	width: 100%;
}
.f_left{
	float: left;
	background-color: rgb(228,229,223);
}
.f_right{
	float: right;
}
.w_30{
	width: 30%;
}
.w_65{
	width: 65%;
}
.tops_box>.year>a>img{
	width: 50%;
	height: 50%;

}
.tops_box>.year>a{

}
.f_left>div p{
	font-size: 0.1px;
	text-align: center;
}
.one{
	background-color:rgb(209,196,107);
}
.tops_tow{
	width: 100%;
	height: 50px;
	/*border:1px solid red;*/
	text-align: center;
	font-size: 1.2rem;
	background-color: white;
	margin: 20px auto;
	padding-top: 15px;
}
.tops_tow>hr{
	margin-top: 5px;
	width: 100%;
	opacity: 0.3;
}
.del_top{
	/*display: flex;*/
	overflow: hidden;
	width: 100%;
	height: 50%;
	max-width: 640px;
	min-width: 320px;
}
.del_top>a>img{
	width: 100%;
	height: 50%;
	max-width: 640px;
	min-width: 320px;
}
.top1{

	display: inline;
}
.top2{
	display: none;
}
.top3{
	display: none;
}
.del_bottom{
	width: 100%;
	display: flex;
}
.del_bottom>span>img{
	width: 90%;
	height: 90%;
}
.all{
	width: 100%;
	height: 70px;
	text-align: center;
	font-size: 1.2rem;
	background-color: white;
	margin: 20px auto;
	padding-top: 15px;
}
.all>hr{
	border:1px solid black;
	margin-top: 8px;
	width: 100%;
	opacity: 0.3;	
}
.all_work{
	width:50%;
}
.all_work>a>img{
	width: 100%;
	height: 150px;
}
.all_text{
	padding-left: 20px;
	background-color: white;
}
.author_name{
	color: rgb(95,167,160);
}
.all_work2{
	width:50%;
}
.all_work2>a>img{
	width: 100%;
	height: 150px;
}
.img_box{
	display: flex;
}
.what{
	width: 100%;
	height: 600px;
	background-color: white;
	margin-top:10px;
}
.what>h2{
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	/*font-weight: 600;*/
	font-family:'PingFang SC';
}
.what>hr{
	display: inline-block;
	border-bottom:1px solid black;
	width: 60%; 
	margin-bottom:-4px;
	margin-left:20%;
}
.what>p{
	font-size: 14px;
	text-align: center;
	width: 90%;
	margin: 20px auto;
	line-height: 2.4;
}
.switch_img{
	width: 70%;
	height: 50%;
	margin:auto;
}
.switch_img>img{
	width: 90%;
	height:80%;
}
.des_bottom{
	width: 100%;
	height: 500px;
	background-color: rgba(0,0,0,0.8);
}
.triangle{
	width: 30px;
	height: 30px;
}
.des_bottom>ul>li>b{
	font-size:1.2rem;
	color: white;
}
.des_bottom>ul>li>p{
	color: white;
	font-size: 0.8rem;
	padding-top: 10px;

}
.des_bottom>ul>li{
	text-align: center;
	padding-top:30px;
}
/*内容底部的footer类*/
.footer{
	width: 100%;
	background-color: #fff;
	margin-bottom: 60px;
}
ul>.help{
	width: 96%;
	height: 40px;
	line-height: 40px;
	border-top:1px solid rgb(238,238,238);
	margin-left: 2%;
	padding-left: 20px;
}
ul>.help>span{
	float: right;
	margin-right: 2%;
	padding-right: 10px;
}
.help_display{
	display: none;
}
.help_display *{
	padding-top: 5px;
	margin-left: 5%;
}
.help_display>li:last-child{
	padding-bottom: 10px;
}
.box_buttom{
	border-bottom:1px solid rgb(238,238,238);
}
.footer>div{
	margin-left: 5%;
	color: #999;
	font-size: 12px;
}
.footer>.footer_text{
	margin-top: 10px;
}
.bottom{
	width: 96%;
	margin-left: 2%;
	padding-left: 0px;
}
.help_display>li>a{
	color:black;
}
/*轮播实验*/
/*.all_box2{
	display: flex;
	overflow:hidden;
	float: right;
}*/