*{
	margin:0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;

}
body{
	font-size: 14px;
	font-family: "黑体";
	color: #333;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border: none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.f_left{
	float: left;
}
.f_right{
	float:right;
}
/*头部*/
.ys_boss{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	background-color: rgb(238,238,238);
	margin: 0 auto;
}
.ys_boss>.ys_banner{
	position: fixed;
	
	top: 0;
	height: 44px;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-color: black;
	box-shadow: 0px 1px 3px ;
	min-width: 320px;
	max-width: 640px;
}
.ys_boss>.ys_banner>a{
	height: 100%;
	width: 45%;
	padding:0px;
	margin:0px;
}
.ys_input1{
	height: 100%;
	width: 100%;
	background-color: rgb(63,68,74);
	color: white;
	font-size: 1.1rem;
}
.ys_input2{
	height: 100%;
	width: 100%;
	font-size: 1.1rem;
	background-color: rgb(255,255,255);
}
.ys_input3{
	height: 100%;
	width: 90%;
	display: none;
	background-color: white;
	color:black;
	font-size: 1.1rem;
	padding-left: 9px;
}
.ys_img1{
	
	}
.ys_imgx{
	display: none;
}
/*尾部*/
.ys_footer{
	position: fixed;
	bottom:0%;
	height: 50px;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-color: black;
	box-shadow: 0px 1px 3px ;
	min-width: 320px;
	max-width: 640px;
}

.ys_img3{
	height: 100%;
	width: 20%;	
	padding-top: 3px;
	margin-left: 5px;
}
.ys_img4{
	height: 100%;
	width: 20%;
	padding-top: 2px;
	margin-left: 5px;
}
.ys_img5{
	height: 100%;
	width: 20%;
	padding-top: 5px;
}
.menu{
	height: 100%;
	width: 35%;
	background-color: rgb(60,148,139);
	color: white;
	text-align: center;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 15px;
}
.menu .menu_span1{
	display: inline-block;
	font-size: 20px;
}
.menu_span2{
	font-size: 10px;
}
.ys_footer2{
	list-style: none;
	height: 200px;
	width: 35%;
	background-color: black;
	color: white;
	font-size: 1rem;
	position: absolute;
	bottom: -300px;
	z-index: -100;
}
.ys_footer2 li{
	color: white;
	margin-left: 15px;
	padding-top: 4px;
}
.ys_footer2>a{
	color: white;
	padding: 2px;
}
/*myself 章节*/
section{
	width: 100%;
	height:1500px; 
	max-width: 640px;
	min-width: 320px;
    background-color: rgb(238,238,238);
	/*border:1px solid black;*/
	margin:auto;
}
.section_bg{
	width: 100%;
	height: 600px;
	/*border:1px solid red;*/
	background-image: url(../images/banner_bg.jpg);
	background-repeat:no-repeat;
	background-size:100% 600px;
	
}
.bg_box{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);	
}
.section_workes{
	max-width: 640px;
	min-width: 320px;
	width: 80%;
	height: 50%;
	margin: 50px auto;
	/*border:1px solid red;*/
}
.section_workes>a>img{
	width: 100%;
	height: 100%;
}

.section_logo_en{
	max-width: 640px;
	min-width: 320px;
	/*border:1px solid red;*/
	width: 30%;
	height: 30%;
	margin: 0 auto;
	text-align: center;
	margin:-50px auto;
	
}
.section_logo_en>img{
	width: 30%;
	height: 30%;
}
hr{
	width: 60px;
	margin: -90px auto;
}
.section_text{
	color: white;
	margin:110px auto;
	text-align: center;
	font-size: 1.2rem;
}
.tops{
	font-size: 1.2rem;
	text-align: center;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	background-color:white;
}
.tops_box{
	width: 100%;
	height:350px;
	max-width: 640px;
	min-width: 320px;
	/*border:1px solid blue;*/
	display: flex;
}
.year{
	width: 100%;
	height: 100%;
}
.tops_box>.year>a>img{
	width: 50%;
	height: 50%;

}
.tops_box>.year>a{

}
.year_text{
	width: 50%;
	height: 50%;
	background-color: rgb(228,229,223);
	text-align: center;
	padding:15px;

}
.year_text>p{
	font-size:1px;
}

